.carousel-wrapper{
        background: linear-gradient(360deg,rgba(33, 37, 41) 0%, rgb(80, 80, 80) 50%, rgb(136, 136, 136) 100%);
}
.slides-container{
    max-width: 600px;
    margin: 0 auto;
}

.google-slide-container{
    background: rgb(12, 0, 36);
}

.google-slide-caption{
    display:inline-block;
    position: relative; 
    bottom: 500px;
    color: whitesmoke;
    padding: 100px;
}

.column-caption{
    text-align: center;
}

.img-fix{
    aspect-ratio: 6/4;
}

.text-column-fix{
    top: -35px;
    position:relative;

}

  .text-column {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    min-height: 250px;
    margin-bottom: 20px;
  }

  .text-column h3 {
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #333;
  }

  .text-column p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #555;
  }

  .footer-pattern-overlay {
  position: relative;
  overflow: hidden;
}

.footer-pattern-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;

  background:
    repeating-linear-gradient(
      45deg,
      rgba(225, 225, 225, 0.06) 0px,
      rgba(211, 210, 210, 0.06) 1px,
      transparent 1px,
      transparent 6px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(243, 243, 243, 0.06) 0px,
      rgba(222, 222, 222, 0.06) 1px,
      transparent 1px,
      transparent 8px
    );
}

.hero-pattern {
  position: relative;
  overflow: hidden;
}

.hero-pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;

  background:
    linear-gradient(135deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%) 0 0 / 40px 40px,
    linear-gradient(225deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%) 0 0 / 40px 40px,
    linear-gradient(45deg, rgba(218, 216, 216, 0.02) 25%, transparent 50%) 20px 20px / 40px 40px,
    linear-gradient(315deg, rgba(238, 238, 238, 0.02) 25%, transparent 25%) 20px 20px / 40px 40px;
}

.footer-container a:link, a:visited {
  width: 10%;
  margin:  0 auto;
  text-align: center;
  color: white;
  text-decoration: none;
}